<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
        <a class="navbar-brand"><i class="bi bi-houses-fill"></i> <strong>RENOVATION</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <button class="btn btn-danger" (click)="back()"><i class="bi bi-box-arrow-left"></i> Back</button>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="message != ''">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeMessage()"></button>
</div>
<div class="container">
    <div class="main-body">
        <div class="d-flex justify-content-center align-items-center">
            <form class="was-validated" #myForm="ngForm">
                <h2 class="display-3">Change password</h2>
                <div class="form-group">
                    <label for="passwordOld" class="form-label">Password</label>
                    <input type="text" [(ngModel)]="passwordOld" id="passwordOld" placeholder="Enter old password"
                        class="form-control" name="passwordOld" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="passwordNew">Password</label>
                    <input type="password" [(ngModel)]="passwordNew" id="passwordNew" placeholder="Enter new password"
                        class="form-control" name="passwordNew"
                        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%#?&])[A-Za-z][A-Za-z\d@$!%#?&]{6,11}" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field. Password must start with a letter, must
                        contain one lowercase, uppercase, number, special character, 7-12 long</div>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Password</label>
                    <input type="password" [(ngModel)]="passwordConfirm" id="passwordConfirm" placeholder="Confirm password"
                        class="form-control" name="passwordConfirm"
                        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%#?&])[A-Za-z][A-Za-z\d@$!%#?&]{6,11}" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <button type="submit" class="btn btn-warning" (click)="submit()"
                    [disabled]="!myForm.valid">Submit</button>

            </form>
        </div>
    </div>
</div>
